@import '../../sass/styles';

.container{
  text-align: left;
}

.container h1{
  color: white;
  margin-top: 3%;
}

li{
  margin-top: -10px;
}

.titulo-assistidos{
  @include title($whiteColor, 26px, 34%, 150px);
  text-shadow: 1px 1px 5px #000;
}

.image-assistidos{
  @include movieImage(65%, 3px 7px 3px $shadowColor)
}

.nota-assistidos{
  @include title($whiteColor, 26px, 63%, -182px);
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                     0 1px 0 #ccc, 0 2px 0 #ccc,
                     0 2px 0 #ccc, 0 3px 0 #ccc,
                     0 2px 0 #ccc, 0 2px 0 #ccc,
                     0 2px 0 #ccc, 0 2px 0 #ccc,
                     0 2px 0 #ccc, 0 2px 0 #ccc,
                     0 3px 7px rgba(0, 0, 0, 0.5);
}

summary{
  @include summaryStyle();
  margin-top: 5px;
}

.comentario-assistidos{
  width: 63%;
}

.close-assistidos{
  position: absolute;
  margin: 1.5% 0 0 0.8%;
  font-size: 24px;
  color: $redColor;
  font-weight: bold;
  cursor: pointer;
}
.close-assistidos:hover{
  color: $pinkColor;
}