@import '../../sass/styles';

.container{
  text-align: left;
}

.container h1{
  color: white;
  margin-top: 3%;
}

li{
  margin-top: -10px;
}

.titulo-assistidos{
  @include title($whiteColor, 26px, 34%, 150px);
  text-shadow: 1px 1px 5px #000;
}

.image-assistidos{
  @include movieImage(65%, 3px 7px 3px $shadowColor)
}

.nota-assistidos{
  @include title($whiteColor, 26px, 63%, -182px);
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                     0 1px 0 #ccc, 0 1px 0 #ccc,
                     0 1px 0 #ccc, 0 1px 0 #ccc,
                     0 1px 0 #ccc, 0 1px 0 #ccc,
                     0 1px 0 #ccc, 0 1px 0 #ccc,
                     0 1px 0 #ccc, 0 1px 0 #ccc,
                     0 3px 7px rgba(0, 0, 0, 0.5);
}

.comentario-assistidos{
  width: 63%;
}

.button-assistidos{
  @include buttonStyle(18px, 16%, $redColor, #b03a3a, -6px 20px 0px 5px, 5px, 2px );
}

.botoes-assistidos{
  margin-top: -5%;
}

.details{
  text-decoration: none;
  color: #fff;
  background-color: #bd93f9;
  font-size: 18px;
  width: 18%;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #22232e;
  padding: 2px;
  border: 1px solid transparent;
}
.details:hover{
  background-color: #ff79c6;
  transition: all 0.4s;
}

.netflix{
  @include netflix(9%, #bb1d24, #f5f5f1, 1px 1px 2px #221f1f);
}
.telecine{
  @include telecine();
}
.amazon{
  @include amazon();
}
.hbo{
  @include hbo();
}
.disney{
  @include disney();
}
.cinema{
  @include cinema();
}
.outros{
  @include outros();
}
.globoplay{
  @include globoplay();
}
.vazio{
  @include vazio();
  box-shadow: none !important;
}

.modal-assistidos{
  display: block ;
  width: 550px;
  height: 320px;
  background-color: $backgroundColor;
  margin-left: 5px;
  position: relative;
  margin-top: -35%;
  border-radius: 10px;
  box-shadow: -2px 1px 15px 10px #1a1b24;
  z-index: 1000;
}

.edit-button{
  background-color: $greenColor !important;
  outline: none;
  margin-right: 0.7% !important;
}
.edit-button:hover{
  background-color: #1d6e50 !important;
}

@include mobile{
  .image-assistidos{
    @include movieImage(120%, 3px 7px 3px $shadowColor);
    margin-left: -28%;
  }
  .titulo-assistidos{
    @include title(#f8f8f2, 18px, 0, 32%);
    text-shadow: 1px 1px 5px #000;
    margin-left: 10%;
  }

  .nota-assistidos{
    @include title($whiteColor, 18px, 82%, -115px);
  }

  .botoes-assistidos{
    margin-top: -15%;
  }

  .details{
    @include buttonStyle(14px, 10%, $purpleColor, $pinkColor, -6px 0px 0px -55px, 5px, 2px);
  }

  .button-assistidos{
    @include buttonStyle(14px, 30%, $redColor, #b03a3a, -6px 20px 0px 5px, 5px, 2px );
  }

  .modal-assistidos{
    width: 300px;
    height: 270px;
    margin-left: -75px;
  }
  .modal-assistidos h1{
    font-size: 24px;
    text-align: center;
  }

  .netflix{
    @include netflix(21%, #bb1d24, #f5f5f1, 1px 1px 2px #221f1f);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }

  .telecine{
    @include netflix(40%, #021742, #ff1c1c, none);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }
  .amazon{
    @include netflix(57%, #00abe1, $whiteColor, 1px 1px 2px #221f1f);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }
  .hbo{
    @include netflix(27%, #663399, $whiteColor, 1px 1px 2px #221f1f);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }
  .disney{
    @include netflix(25%, #113ccf, $whiteColor, 1px 1px 2px #221f1f);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }
  .cinema{
    @include netflix(25%, $greenColor, $whiteColor, 1px 1px 2px #221f1f);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }
  .outros{
    @include netflix(20%, $whiteColor, $shadowColor, 1px 1px #221f1f);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }
  .globoplay{
    @include netflix(30%, #121010, #ff3333, none);
    top: -113px !important;
    left: -23% !important;
    font-size: 12px;
  }
  .vazio{
    @include netflix(9%, transparent, transparent, none);
    box-shadow: none !important;
    top: -113px !important;
    left: -23% !important;
  }
}