//Media Querys

@mixin mobile {
  @media (min-width: 320px) and (max-width: 480px) {@content;}
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {@content;}
}
//------------------//----------------//-------------------//-----------//



//--- HEADER STYLE ----//-------//
@mixin headerStyle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $colorHeader;
  position: fixed;
  top: 0px;
  z-index: 10;
}

@mixin logoStyle {
  text-decoration: none;
  font-size: 30px;
  color: $whiteColor;
  margin-left: 10%;
  cursor: pointer;
  letter-spacing: 3px;
  &:hover{
    color: $greenColor;
  }
}

@mixin favoritoStyle($mLeft) {
  cursor: pointer;
  text-decoration: none;
  background-color: $whiteColor;
  border-radius: 5px;
  color: $colorHeader;
  margin-left: $mLeft;
  padding: 5px;
  font-weight: bold;
  &:hover{
    background-color: $greenColor;
    transition: ease-in-out 0.2s;
    color: $whiteColor;
  }
}
//--- HEADER STYLE ----//-------//-----//

@mixin title($colorTitle, $fontSize, $leftTitle, $marginTop) {
  color: $colorTitle;
  font-size: $fontSize;
  position: absolute;
  left: $leftTitle;
  margin-top: $marginTop;
}

@mixin movieImage($widthImg, $shadowImg) {
  width: $widthImg;
  max-height: 350px;
  border-radius: 10px;
  box-shadow: $shadowImg;
}

@mixin buttonStyle($fontSize, $widthButton, $colorButton, $hoverColor, $marginButton, $radiusButton, $paddingButton) {
  text-decoration: none;
  color: $whiteColor;
  background-color: $colorButton;
  font-size: $fontSize;
  width: $widthButton;
  margin: $marginButton;
  text-align: center;
  border-radius: $radiusButton;
  box-shadow: 3px 3px 3px $shadowColor;
  padding: $paddingButton;
  &:hover{
    background-color: $hoverColor;
    transition: all 0.4s;
  }
}

// STREAMING STYLES
@mixin netflix($streamWidth, $streamBg, $streamColor, $streamTextShadow) {
  padding: 2px;
  width: $streamWidth;
  background-color: $streamBg;  
  color: $streamColor;
  position: relative;
  top: -180px;
  left: 2%;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.8px;
  box-shadow: 2px 2px 2px $shadowColor;
  text-shadow: $streamTextShadow;
}

@mixin telecine() {
  @include netflix(16%, #021742, #ff1c1c, none);
}

@mixin amazon() {
  @include netflix(25%, #00abe1, $whiteColor, 1px 1px 2px #221f1f)
}

@mixin hbo() {
  @include netflix(12%, #663399, $whiteColor, 1px 1px 2px #221f1f)
}

@mixin disney() {
  @include netflix(10%, #113ccf, $whiteColor, 1px 1px 2px #221f1f)
}

@mixin cinema() {
  @include netflix(10%, $greenColor, $whiteColor, 1px 1px 2px #221f1f)
}

@mixin outros() {
  @include netflix(9%, $whiteColor, $shadowColor, 1px 1px #221f1f)
}