//Media Querys

@mixin mobile {
  @media (min-width: 320px) and (max-width: 480px) {@content;}
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {@content;}
}
//------------------//----------------//-------------------//-----------//



//--- HEADER STYLE ----//-------//
@mixin headerStyle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $colorHeader;
  position: fixed;
  top: 0px;
  z-index: 10;
}

@mixin logoStyle {
  text-decoration: none;
  font-size: 30px;
  color: $whiteColor;
  margin-left: 10%;
  cursor: pointer;
  letter-spacing: 3px;
  &:hover{
    color: $greenColor;
  }
}

@mixin favoritoStyle($mLeft) {
  cursor: pointer;
  text-decoration: none;
  background-color: $whiteColor;
  border-radius: 5px;
  color: $colorHeader;
  margin-left: $mLeft;
  padding: 5px;
  font-weight: bold;
  &:hover{
    background-color: $greenColor;
    transition: ease-in-out 0.2s;
    color: $whiteColor;
  }
}
//--- HEADER STYLE ----//-------//-----//

@mixin title($colorTitle, $fontSize, $leftTitle, $marginTop) {
  color: $colorTitle;
  font-size: $fontSize;
  position: absolute;
  left: $leftTitle;
  margin-top: $marginTop;
}

@mixin movieImage($widthImg, $shadowImg) {
  width: $widthImg;
  max-height: 350px;
  border-radius: 10px;
  box-shadow: $shadowImg;
}

@mixin buttonStyle($fontSize, $widthButton, $colorButton, $hoverColor, $marginButton, $radiusButton, $paddingButton) {
  text-decoration: none;
  color: $whiteColor;
  background-color: $colorButton;
  font-size: $fontSize;
  width: $widthButton;
  margin: $marginButton;
  text-align: center;
  border-radius: $radiusButton;
  box-shadow: 3px 3px 3px $shadowColor;
  padding: $paddingButton;
  &:hover{
    background-color: $hoverColor;
    transition: all 0.4s;
  }
}