@import '../../sass/styles';

.filmeInfo{
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-top: -10px;
  margin-left: 11%;
}

.filmeInfo img{
  @include movieImage(80%, 5px 10px 5px $shadowColor);
  margin-top: -13px;
}

.filmeInfo button{
  @include buttonStyle(19px, none, 12px 20px 0 0, 5px, 8px);
  cursor: pointer;
  border: 0;
  outline: none;
}


.filmeInfo p{
  margin-top: -15px;
  color: #f2f2f2;
  width: 80%;
}

.filmeInfo h3{
  color: #f2f2f2;
}

.nomeFilme{
  color: #bd93f9;
}

.filmeInfo a{
  text-decoration: none;
  color: #f2f2f2;
}
.filmeInfo a:hover{
  transition: all 0.4s;
  background-color: #ff79c6;
}


//MOBILE
@include mobile{
  .filmeInfo img{
    @include movieImage(90%, 3px 7px 3px $shadowColor);
    margin-top: -13px;
  }

  .nomeFilme{
    font-size: 25px;
  }

  .filmeInfo button{
    @include buttonStyle(14px, none, 12px 20px 0 0, 5px, 8px);
    cursor: pointer;
    border: 0;
    outline: none;
  }
}