@import '../../sass/styles';

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.listaFilmes{
  margin: 15px;
}

.listaFilmes article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 15px;
}

.listaFilmes strong{
  @include title($whiteColor, 27px, 420px, 50px, 1px 1px 5px #000);
}

.listaFilmes img{
  @include movieImage(80%, 5px 10px 5px $shadowColor);
}

.listaFilmes article a{
  @include buttonStyle(25px, 20%, 10px 57% 0 0, 5px, 1px);
}

// MOBILE
@include mobile{
  .listaFilmes strong{
    @include title($whiteColor, 17px, 25px, 30px, 1px 1px 5px #000);
  }

  .listaFilmes img{
    @include movieImage(130%, 3px 6px 3px $shadowColor);
  }

  .listaFilmes article a{
    @include buttonStyle(15px, 27%, 10px 100% 0 0, 3px, 3px);
  }
}