.footer-container{
  margin-top: 5%;
  margin-bottom: 2%;
  color: #228a64;
}

.footer-container span{
  font-size: 1.1em;
}

.footer-container a{
  color: #228a64;
}
.footer-container a:hover{
  color: #ff79c6;;
}